a:hover{
    text-align: center;
    color: black;
}
div {
    margin: 20px;
    width: 100%;
    border: 2px solid black;
    padding: 10px;
}

form{
    margin: 30px;
}
footer{
    background-color: aquamarine;
    position: fixed;
    bottom: 0;
}

table tr {
    border: 2px solid black;
    margin: 15px;
}
td{
    border: 2px solid red;
}